AlignAfterOpenBracket: DontAlign
AlignEscapedNewlines: DontAlign
AllowShortBlocksOnASingleLine: Empty
AllowShortCaseLabelsOnASingleLine: true
AllowShortIfStatementsOnASingleLine: false
AllowShortLoopsOnASingleLine: false
AlwaysBreakAfterDefinitionReturnType: TopLevel
BinPackArguments: false
BinPackParameters: false
BreakBeforeBraces: WebKit
IndentCaseLabels: false
TabWidth: 2
IndentWidth: 2
ContinuationIndentWidth: 2
UseTab: ForContinuationAndIndentation
ColumnLimit: 80
ReflowComments: false
SortIncludes: false
SpaceBeforeParens: false
